---
import PageLayout from "../../layouts/PageLayout.astro";
import PageMeta from "../../components/PageMeta.astro";
import PageHeader from "src/components/PageHeader.astro";
---

<PageLayout>
  <PageMeta 
    title='The Front End Podcast Frequently Asked Questions | Rob Kendal, freelance developer'
    description='Find answers to the most frequently asked questions about The Front End Podcast'
    slot="meta" 
  />
  <section slot="main">
    <div class="prose max-w-none prose-bubblegum">
      <PageHeader>
        The Front End FAQs
      </PageHeader>
      <p>
          So, you're looking to appear on the show, or want to know a little bit
          more about The Front End huh?
        </p>

        <p>You've come to the right place...</p>

        <h2>1. What is The Front End Podcast all about?</h2>

        <p>
          <a href='https://anchor.fm/the-front-end'>The Front End</a> covers a
          range of topics in and around the technology and front end development
          space. We'll get technical with JavaScript features, talk about CSS,
          but also branch out to wider areas such as getting started in
          development, careers, mental health, and much more. We'll also be
          featuring guests regularly who can talk about their particular coding
          origin story and specific topics in their field of expertise.
        </p>

        <h2>2. Who is the audience?</h2>

        <p>
          Anyone interested in development (or closely attached to it) really.
        </p>

        <p>
          Whilst some topics might be a little more geared towards the newer
          developers' end of the scale, the podcast aims to cover a range of
          topics that everyone can take something from, such as mental health,
          remote working, career advice, and broader advice pieces, such as
          improving on debugging.
        </p>

        <h2>3. I want to be a guest, how does the recording work?</h2>

        <p>
          To be honest, I've found that having meetings and doing recordings
          remotely works really well; it's certainly more productive for people
          and it's often easier to find a 30 minute window here and there.
        </p>

        <p>
          I'll send you a link to use the built in software that the podcast's
          hosting platform, <a href='https://anchor.fm'>Anchor</a>, provides.
          We'll do the recording and then I'll edit it for clarity and time.
        </p>

        <p>
          However, if you're local to Selby, North Yorkshire, then we can
          certainly try to arrange a get together (with a brew!) and record the
          episode, but it'll be easier at a quiet place -- sorry, that means no
          high-octane games of laser quest :(
        </p>

        <h2>4. How long is an episode</h2>

        <p>
          To be honest, it depends. Personally, I like to listen to podcasts
          that are 30 minutes or less, so I generally aim for that. However,
          depending on the topic, and the guest, some may run a little over.
        </p>

        <h2>
          5. What will we talk about and what is the format of the episode?
        </h2>

        <p>
          Again, it depends on the topic. The general plan is to keep things
          more conversational, rather than a rigid Q&A session. Guests will
          generally be asked to introduce themselves and then I'll ask a couple
          of questions from there and we'll see where the fates take us.
        </p>

        <p>
          If there's a specific topic on the cards then I might have a few
          questions in mind that I'd like to cover, but you'll be provided with
          these ahead of time so you're not caught off guard. Generally, I like
          to ask about origin stories, a bit like a comic book. This might be,
          'how did you get into [field of expertise]?', or 'Did you always want
          to be in [this job], what would you like to do instead?', and so on.
        </p>

        <h2>6. Do I get to listen to it before it's published?</h2>

        <p>
          Yep. I'll get the polishing done and then send you a preview. Nows the
          time to give me any feedback or highlight anything you might want
          removing, etc. Please note, however, if there's no feedback provided
          before the publishing deadline, the episode will still be published
        </p>

        <h2>7. Can I plug my own things on the podcast?</h2>

        <p>
          You betcha. As a guest on the show, you'll be given ample opportunity
          to talk about anything of interest you'd like sharing, from simple
          social media pages or blogs, to more concrete works such as published
          books or courses. If you let us know ahead of time then we can
          highlight these a bit more during the show too.
        </p>

        <p>
          Also, you'll be fully accredited in the show's description with links
          of your choosing.
        </p>
    </div>    
  </section> 
</PageLayout>
