---
import PageLayout from "src/layouts/PageLayout.astro";
import PageMeta from "src/components/PageMeta.astro";
import ContactForm from "src/components/ContactForm.astro";
import PageHeader from "src/components/PageHeader.astro";
import Availability from "src/components/Availability.astro";
---

<PageLayout>
  <PageMeta
    title="Contact Rob Kendal | Freelance Web developer in York, Selby, Leeds"
    description="Contact Rob Kendal about your next Storyblok project, enterprise business software application or website, or if you're a developer looking for a coding mentor"
    slot="meta"
  />
  <section slot="main">
    <div class="prose max-w-none prose-bubblegum">
      <PageHeader>Let's talk!</PageHeader>
      <p>
        I'm happy to talk about any potential software developer roles, 
        guest appearances on podcasts, or any other opportunities to share 
        my knowledge and experience. 
      </p>
      <p>
        I'm also always happy to talk about my work and the projects 
        I've been involved in, so if you have any questions or just want 
        to say hi, please don't hesitate to get in touch.
      </p>
    </div>

    <Availability />

    <div class="prose max-w-none prose-bubblegum">
      <h2 class="heading-2 mb-4">Send me a message directly</h2>
      <p>
        Send me a message below and <strong>I'll get back to 
          you within 24 hours</strong>
      </p>
    </div>
    <ContactForm action="/contact/thanks" />
  </section>
</PageLayout>
