---
import PageLayout from "src/layouts/PageLayout.astro";
import PageMeta from "src/components/PageMeta.astro";
import ContactForm from "src/components/ContactForm.astro";
import PageHeader from "src/components/PageHeader.astro";
import Availability from "src/components/Availability.astro";
import IntroductionForm from "src/components/IntroductionForm.astro";

const available = true;
---

<PageLayout>
  <PageMeta
    title="Contact Rob Kendal | Freelance Shopify developer in York, Selby, Leeds"
    description="Contact Rob Kendal about your next Shopify website, Storyblok project, enterprise business software application or website, or if you're a developer looking for a coding mentor"
    slot="meta"
  />
  <section slot="main">
    <div class="prose max-w-none prose-bubblegum">
      <PageHeader>Let's talk!</PageHeader>
      <p>
        Ready to talk about your business software development needs, Storyblok
        CMS project, small business website, or your next Shopify project? Need
        help with web development support and maintenance? Or want to know more
        about my
        <a href="/mentorship"> coding mentorship support</a>
        ?
      </p>
    </div>

    <IntroductionForm />

    {!available && <Availability />}

    <div class="prose max-w-none prose-bubblegum">
      <h2 class="heading-2 mb-4">Send me a message directly</h2>
      <p>
        Alternatively, you can <a
          href="https://k-tech.plutio.com/p/form/buKEibPpSxPdfuAM7"
          target="_blank">book a quick meeting with me</a
        >, or send me a message below and <strong
          >I'll get back to you within 24 hours</strong
        >
      </p>
    </div>
    <ContactForm action="/contact/thanks" />
  </section>
</PageLayout>
