---
import { getCollection } from 'astro:content';
import PageLayout from '../../layouts/PageLayout.astro';
import PageMeta from '../../components/PageMeta.astro';
import PageHeader from 'src/components/PageHeader.astro';
import ArticleList from 'src/components/ArticleList.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  // We don't want to generate pages for posts that are in draft status
  const filteredPosts = posts.filter((p) => p.data.draft !== true);
  const uniqueTags = [
    ...new Set(filteredPosts.map((p) => p.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    return { params: { tag: tag.toLocaleLowerCase() } };
  });
}

const { tag = 'React' } = Astro.params;
---

<PageLayout>
  <PageMeta
    title="Helpful blog articles about React, Jamstack & frontend development | Rob Kendal, freelance developer"
    description="Read articles from Rob Kendal about React, Jamstack, frontend development and JavaScript"
    slot="meta"
  />
  <section slot="main">
    <PageHeader classes="mb-16">
      {`All articles about ${tag}`}
    </PageHeader>
    <ArticleList count={999} relatedPostTags={[tag]} showBlurb />
  </section>
</PageLayout>
