---
import PageLayout from "src/layouts/PageLayout.astro";
import PageMeta from "src/components/PageMeta.astro";
import PageHeader from "src/components/PageHeader.astro";
import Testimonials from "src/components/Testimonials.astro";
import Button from "src/components/Button.astro";
import BenefitsList from "src/components/BenefitsList.astro";
---

<PageLayout>
  <PageMeta
    title="Frontend mentorship programmes | React mentoring | Rob Kendal, freelance developer"
    description="Learn to code for free with a frontend mentorship with Rob Kendal. I offer a range of free code mentorship programmes and paid mentorship options to help people learn to code."
    slot="meta"
  />
  <section slot="main">
    <div class="prose max-w-none prose-bubblegum">
      <PageHeader>Mentorship</PageHeader>
      <p>
        As well as a range of helpful{' '}
        <a href="/blog"> web development articles</a>{' '}
         and{' '}
        <a href="/publications"> publications and resources</a>
         , I'm proud to be a coding mentor, offering learn to code mentor
        support to those looking to start their frontend development journey.
      </p>
      <p>
        My coding mentorship is <strong>free</strong>, with regular email 
        support, code reviews, and limited video replies.
      </p>
    </div>
    <div class="mt-10 h-1 border-b max-w-lg mx-auto"></div>
    <div
      class="relative my-10 py-8 before:z-0 before:block before:absolute before:-inset-1 before:-skew-y-1 before:-rotate-2 before:bg-gradient-to-bl before:bg-no-repeat before:bg-bottom before:bg-[length:95%_95%] before:from-primary-blue before:to-primary-blue before:dark:from-primary-blue before:dark:to-primary-blue"
    >
      <h2
        class="heading-2 text-center overflow-hidden pt-10 mb-4 z-10 block relative"
      >
        Mentorship base level
      </h2>
      <p class="relative max-w-2xl text-lg mx-auto mb-5">
        I want to help as many people as I can learn to code and get into
        frontend development. That's why my mentorship support is
        <strong>free</strong>. With that you'll get access to over 20 years of
        experience and knowledge in the tech industry as a self-taught
        developer, a manager, and a marketer.
      </p>
      <p class="relative max-w-2xl text-lg mx-auto mb-5">
        My free mentorship option includes:
      </p>
      <BenefitsList
        list={[
          'Unlimited email support (guaranteed answers within 24 hours).',
          'Code reviews.',
          'Limited video replies.',
        ]}
      />
    </div>
    
    <div class="my-8 border-b max-w-lg mx-auto"></div>
    <Testimonials
      title="Don't take my word for it"
      intro="I've worked with a number of mentees young and old. Here's what some of my previous clients said about our time together."
    />
  </section>
</PageLayout>
