---
import LandingPageLayout from 'src/layouts/LandingPageLayout.astro';
import CallToAction from 'src/components/CallToAction.astro';
---

<LandingPageLayout
  title="A business software developer for your next app, platform or SaaS product"
  metaTitle="Software developer for hire | software developer Wakefield | Rob Kendal, business software developer"
  description="As a freelance business software developer based in Pontefract, West Yorkshire, I help build enterprise software for your business. Talk to me about your next internal website, software platform or SaaS product."
  brands={{
    title: 'Big brand trust, small-team dedicated service',
    intro:
      "I've worked with some amazing local and national brands, as well as a host of local Yorkshire businesses.",
  }}
  testimonials={{
    title: 'Robust software means happy users',
    intro:
      "From large national organisations to small teams, end user satisfaction is the cornerstone of my work.",
  }}
>
  <Fragment slot="intro">
    If you've been searching for an experienced <strong>software developer</strong> 
    based in Wakefield, Leeds, and Yorkshire, to help design and build robust,
    optimised <strong>business software</strong>, multi-user applications, or
    enterprise SaaS products, then you've come to the right place.
  </Fragment>

  <Fragment slot="intro-content">
    <div class="rounded-sm bg-blue-50 p-4 mt-10 mb-28">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg
            class="h-5 w-5 text-blue-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="ml-3 text-xl text-blue-700 space-y-3">
          <p>
            <strong class="text-blue-700">
              I'm no longer taking on new freelance projects
            </strong>. 
          </p>
          <p>
            I'm looking to move away from freelance work to focus on building 
            software products as part of a larger team. If you're looking for an
            experienced software developer to join your team, please do reach out
            and we can see if there's a fit!
          </p>
        </div>
      </div>
    </div>
  </Fragment>

  <Fragment slot="hireme">
    I'm here to help you and your team by providing the right software
    development services to you. No fuss. No muss.
  </Fragment>

  <Fragment slot="cta">
    <CallToAction
      type="global"
      title="Need help on your next software project?"
      buttons={[
        {
          href: '/contact',
          text: "let's work together",
        },
      ]}
    >
      It costs nothing to have a chat about your project, but it could save you
      a fortune by choosing the right partner to deliver it! Tell me about what
      project you're working on and how I could join your team to help you deliver it.
    </CallToAction>
  </Fragment>
</LandingPageLayout>
