---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import PageHeader from "src/components/PageHeader.astro";
---

<PageLayout>
  <PageMeta 
    title="Recruitment FAQ | Rob Kendal, freelance developer"
    description="Answers to the most frequently asked questions I get from recruiters"
    slot="meta" 
  />
  <section slot="main">
    <div class="prose max-w-none prose-bubblegum">
      <PageHeader>
        FAQ for recruiters
      </PageHeader>
<p>
          Well hello there. If you've found me via a social network or have
          simply been pointed here via my own fair hand, please take the time to
          read the information I've put together on this page.
        </p>

        <p>
          It's not a massive read, but it should cover a lot of the common
          points that I get asked about when talking to recruiters. Whilst I do
          love talking to people and I'm always happy to talk about my work, I
          have a lot of very similar conversations with a lot of recruiters and
          I simply want to save us both some time getting to know if we're a
          good fit.
        </p>

        <p>Before we start, here are a few important links:</p>

        <ul>
          <li>
            <a href=" https://www.visualcv.com/rob-kendal-freelancer/" target="_blank">
              My up to date CV
            </a>{' '}
            – made with Visual CV.
          </li>
          <li>
            <a href="https://www.linkedin.com/in/robkendal/" target="_blank">
              My LinkedIn profile
            </a>
          </li>
          <li>
            My email address,{' '}
            <a href="mailto:me@robkendal.co.uk">me[at]robkendal.co.uk</a>.
          </li>
        </ul>

        <h2>Are you looking for work at the moment?</h2>

        <p>Yep.</p>

        <p>
          I am able to take on software development consultancy and contract
          roles alongside my freelance work as a{' '}
          <a href="/freelance-shopify-developer">
            freelance Shopify consultant
          </a>
          .
        </p>

        <h2>What does your ideal contract or consultancy role look like?</h2>

        <p>
          I'm all about culture and the people that make up the company. It's
          hard to really define something as abstract as culture, but as a
          general rule, what I look for includes:
        </p>

        <ul>
          <li>
            Working with modern technologies and approaches to problem-solving.
          </li>
          <li>Contract or short-term consultancy roles.</li>
          <li>
            Strong team unity with opportunities to learn, grow, and support
            each other.
          </li>
          <li>Agile development environments.</li>
          <li>
            Independence and empowerment to tackle problems with a level of
            autonomy.
          </li>
          <li>High levels of trust in employees.</li>
          <li>Flexible hours.</li>
          <li>Remote working conditions.</li>
          <li>
            Work-life balance. 40 hours (and less) is more than enough time to
            devote to a working week.
          </li>
        </ul>

        <p>
          As a slightly more concrete example of a really ace company that's
          nailed the culture, check out{' '}
          <a href="https://www.hubspot.com/jobs" target="_blank">Hubspot's careers page</a>{' '}
          where they even have their own culture code.
        </p>

        <h2>Do you have a preferred technology stack?</h2>

        <p>
          Most of my work now is in fullstack frontend technologies, largely
          based in JavaScript. My current, general tech stack looks like this:
        </p>

        <ul>
          <li>JAMstack (JavaScript, API's, Markup).</li>
          <li>React (or Vue).</li>
          <li>JavaScript / TypeScript (comfortable with all the latest versions in use).</li>
          <li>Next.js, Astro, Gatsby, and similar meta-frameworks.</li>
          <li>
            CSS, both vanilla and preprocessors (SASS) using modern layouts,
            such as grid or flexbox.
          </li>
          <li>
            CSS frameworks, especially Tailwind CSS and others based on the
            popular utility framework like Chakra UI. I also have skills in
            others such as Bulma, Foundation, and Bootstrap.
          </li>
          <li>
            Code bundlers and transpilers such as Babel, Webpack, Vite or
            Parcel.
          </li>
          <li>
            Headless CMS setups such as Contentful, Netlify CMS, or even
            WordPress.
          </li>
          <li>Accessible, semantic HTML.</li>
          <li>No-SQL databases, such as Mongo, Supabase, or AWS Dynamo DB.</li>
          <li>GraphQL.</li>
        </ul>

        <h2>What sort of experience do you have?</h2>

        <p>
          I've been in the IT industry for close to 20 years, most of that as a
          software engineer and web developer. I started in full stack
          development using the Microsoft (MS) tech stack of C# and ASP.Net. In
          more recent years, I have held leadership roles in the front end and UX/UI
          spaces, such as lead UI engineer and tech lead. I have been
          specialising in performant websites using the latest JavaScript and
          frameworks, such as React and Vue.
        </p>

        <p>
          You can read a little more about me and my history in the following
          places:
        </p>

        <ul>
          <li>
            <a href="https://robkendal.co.uk/about/">About me page</a>.
          </li>
          <li>
            <a href="https://www.visualcv.com/rob-kendal-freelancer/" target="_blank">
              My Visual CV
            </a>
            .
          </li>
          <li>
            <a href="https://www.linkedin.com/in/robkendal/" target="_blank">
              My LinkedIn profile
            </a>
            .
          </li>
        </ul>

        <h2>What are your consultancy rates?</h2>

        <p>
          Culture and project fit are a big deal and will always come above day
          rates.
        </p>

        <p>
          It's difficult to give an exact rate because it really
          depends on the type of project and its requirements. For example, a
          tech lead position is always going to command more than a senior
          developer one.
        </p>
        <p>That said, as a rough guide, similar positions in the past have been in the range of £600 - £950 per day.</p>
        <p>
          There's always going to be some flexibility, so let's discuss the
          project and go from there :)
        </p>

        <h2>Are you willing to relocate for the right role?</h2>

        <p>No.</p>

        <h2>What sort of locations are you able to work in?</h2>

        <p>
          I'm happy and at my most productive when working in my fully kitted
          out home office in a remote environment. That said, living in{' '}
          <strong>Pontefract, West Yorkshire</strong>, I'm OK with very minimal,
          occasional travel within 30-40 mins of my home:
        </p>

        <p>(In preferential order)</p>

        <ul>
          <li>Wakefield.</li>
          <li>Selby.</li>
          <li>Leeds.</li>
          <li>York.</li>
        </ul>

        <p>
          Of course, fully remote options are the future and I've been fully
          remote for well over 5 years :)
        </p>

        <h2>I've come across your CV on 'XYZ' can we have a quick call?</h2>

        <p>I'll have to politely decline, initially.</p>

        <p>
          I am more than happy to have a conversation about opportunities over
          the phone, but it has to be at a mutually agreed time. I don't answer
          cold calls during my working day as it interrupts development work.
        </p>

        <p>I prefer to avoid phone calls initially because:</p>

        <ul>
          <li>
            There is a lot of information already on this page that can be used
            to sift me in or out of a potential opportunity – thus saving
            everyone time.
          </li>
          <li>
            I prefer email as my primary mode of communication so please shoot
            me an email which includes the following information:
          </li>
          <ul>
            <li>The job spec.</li>
            <li>Rates and project information.</li>
            <li>
              <strong>A subject line of 'React is ace!'</strong> so that I know
              you've made it this far onto the page. You will always get a reply
              from me!
            </li>
          </ul>
        </ul>

        <h2>Can you send me an up to date copy of your CV?</h2>

        <p>
          I could, but you can always view the latest, most up to date version
          of my CV on{' '}
          <a href="https://www.visualcv.com/rob-kendal-freelancer/" target="_blank">
            my Visual CV page
          </a>
          .
        </p>

        <p>You can also download it in PDF format from there.</p>

        <p>
          Alternatively,{' '}
          <a href="https://www.linkedin.com/in/robkendal/" target="_blank">
            my LinkedIn profile
          </a>{' '}
          is always kept as a living experience document so that it matches my
          work history, current projects and achievements.
        </p>

        <h2>Do you have your CV in PDF/Word/XYZ format?</h2>

        <p>
          Again, you can download a PDF version of my CV from{' '}
          <a href="https://www.visualcv.com/rob-kendal-freelancer/" target="_blank">
            my Visual CV page
          </a>
          .
        </p>

        <p>
          I'm afraid I don't keep a copy in any other formats because I don't
          have access to MS Word and I'm not comfortable providing my CV in an
          editable format.
        </p>

        <p>
          However, I'm happy to alter anything to suit, if you give me a heads
          up.
        </p>

        <h2>What is your notice period?</h2>

        <p>
          It depends on if I'm currently working on several large-scale projects
          or within a contract position at the moment. If you drop me a line
          I'll be happy to update you on my current situation.
        </p>
    </div>    
  </section> 
</PageLayout>

