---
import { Image } from "astro:assets";

import LandingPageLayout from "src/layouts/LandingPageLayout.astro";
import CallToAction from "src/components/CallToAction.astro";
---

<LandingPageLayout
  title="A freelance Shopify developer you can rely on"
  metaTitle="Freelance Shopify developer | Shopify consultant Yorkshire | Rob Kendal, freelance Shopify partner"
  description="As a freelance Shopify developer based in Leeds, Wakefield and York, I can build custom Shopify themes and develop your Shopify ecommerce website"
  brands={{
    title: "I've worked with some great brands",
    intro:
      "I've worked with some amazing local and national brands, as well as a host of local Yorkshire businesses",
  }}
  testimonials={{
    title: "Successful projects equal happy clients",
    intro:
      "From Shopify ecommerce website development services to marketing and custom theme development here's what some of my clients and colleagues have to say.",
  }}
>
  <Fragment slot="intro">
    If you're looking for the support of a <strong>senior developer</strong> 
    based in Wakefield and Leeds, or York, to help with Shopify migrations, custom
    Shopify theme development, or full, end to end ecommerce website builds, then
    look no further!
  </Fragment>

  <Fragment slot="intro-content">
    <div class="rounded-sm bg-blue-50 p-4 mt-10 mb-28">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg
            class="h-5 w-5 text-blue-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="ml-3 text-xl text-blue-700 space-y-3">
          <p>
            <strong class="text-blue-700">
              I'm no longer taking on new Shopify projects
            </strong>. 
          </p>
          <p>
            Please do reach out about your Shopify project though as I have a lot of 
            connections and will be able to refer you to one of my excellent
            freelancing colleagues.
          </p>
        </div>
      </div>
    </div>
  </Fragment>

  <Fragment slot="cta">
    <CallToAction
      type="global"
      title="Are you looking for a new developer to join your team?"
      buttons={[
        {
          href: "/contact",
          text: "let's work together",
        },
      ]}
    >
      If you're in need of an experienced software developer with leadership experience
      to join your team, I'm all ears: let's have a chat!
    </CallToAction>
  </Fragment>
</LandingPageLayout>
