---
import LandingPageLayout from 'src/layouts/LandingPageLayout.astro';
import BenefitsList from 'src/components/BenefitsList.astro';
import CallToAction from 'src/components/CallToAction.astro';
import Button from 'src/components/Button.astro';

const benefits = [''];
const services = [
  {
    icon: 'far fa-hand-pointer',
    title: 'Shopify website',
    blurb:
      "Shopify is an ideal choice for a winning ecommerce website. From full, end to end builds, design and development, I've got you covered.",
  },
];
const callouts = [''];
---

<LandingPageLayout
  title=""
  metaTitle=""
  description=""
  benefits={{
    title: '',
    list: benefits,
  }}
  services={{
    title: '',
    intro: '',
    list: services,
  }}
  brands={{
    title: '',
    intro: '',
  }}
  testimonials={{
    title: '',
    intro: '',
  }}
>
  <Fragment slot="intro">
    <p></p>
  </Fragment>

  <Fragment slot="additional-content"></Fragment>

  <Fragment slot="hireme"></Fragment>

  <Fragment slot="callout">
    <div class="flex flex-col xl:flex-row gap-10 relative z-10 items-center">
      <figure class="flex items-center flex-col md:w-3/4 xl:w-1/3 2xl:w-1/2">
        <img
          src="/img/example-shopify.png"
          alt="Example small business website displayed on a laptop"
          class=""
        />
        <img
          src="/img/shopify_logo_white.png"
          alt="Shopify logo"
          class="hidden xl:block"
        />
      </figure>
      <div class="xl:w-2/3 2xl:w-1/2">
        <h2 class="heading-2"></h2>
        <p class="mb-6"></p>
        <p class="mb-6"></p>
        <BenefitsList list={callouts} />
        <p class="mb-6"></p>
        <Button
          href="/contact"
          text="discuss your project"
          variant="primary"
          classes={['block w-full text-center md:w-auto md:text-left']}
        />
      </div>
    </div>
  </Fragment>

  <Fragment slot="cta">
    <CallToAction
      type="global"
      title="How can I help?"
      buttons={[
        {
          href: '/contact',
          text: 'discuss your project',
        },
      ]}
    />
  </Fragment>
</LandingPageLayout>
