---
import LandingPageLayout from "src/layouts/LandingPageLayout.astro";
import CallToAction from "src/components/CallToAction.astro";
import Button from "src/components/Button.astro";

const benefits = [
	"Thorough technical audits of your website identify opportunities for better search rankings",
	"Detailed keyword and competitor analysis help you decide on which content to improve and how",
	"Website performance and optimisation measurements will help improve your visitors' experience (and boost your search rankings!)",
	"UX and accessibility reviews zone in on important changes to maximise your audience reach",
	"CRO walkthroughs offer clear guidance on how to structure your content to convert more visitors into leads",
	"Plain English recommendation reports give you a path to see genuine search performance gains",
];
---

<LandingPageLayout
  title="A freelance SEO and CRO based in Yorkshire that can help boost your search rankings"
  metaTitle="Freelance SEO | Freelance CRO Yorkshire | Rob Kendal, freelance SEO"
  description="As a freelance SEO and CRO specialist based in Leeds, Wakefield and York, I can help grow your website traffic through search engine optimisation"
  benefits={{
    title: "Here's a few ways my SEO and CRO services can help your website:",
    list: benefits,
  }}
  brands={{
    title: "I've worked with some great brands",
    intro:
      "As a freelance search engine optimisation consultant, I've enjoyed working with some brilliant local and national brands, as well as a host of local Yorkshire businesses",
  }}
  testimonials={{
    title: "Successful projects equal happy clients",
    intro:
      "From SEO consultancy on Shopify ecommerce websites through to conversion rate optimisation services on business websites I've left a lot of happy clients along the way.",
  }}
>
  <Fragment slot="intro">
    Website not ranking well on Google? Not turning visitors into leads as often as you'd like? Well, it 
    sounds like you're in need of <strong>freelance search engine optimisation (SEO) services</strong> 
    based in sunny Leeds and Yorkshire to help grow your audience and reach. 
    
    <p>If you're got the audience but you want to 
    generate more leads for your business, my <strong>freelance conversation rate optimisation (CRO)</strong>
    consultancy can help you turn visitors into customers.</p>
  </Fragment>

  <Fragment slot="additional-content">
    <section class="section is-md my-20">
      <h2 class="heading-2 text-center mb-1">Simple SEO services. No strings attached</h2>
      <p class="text-center text-md max-w-5xl mx-auto">
        The best starting place to kick off your SEO journey is with one of my standalone SEO
        packages. You'll get a thorough review of your website and a comprehensive report 
        full of recommendations and actionable advice to help improve your website traffic 
        from search engines, as well as converting more visitors into leads. 
      </p>
      
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-24 mb-10 mx-auto lg:-mx-20">
      
        <div class="border-2 border-gray-600 rounded-b-sm col-span-2 shadow-md flex flex-col justify-between lg:col-span-1">
          <div class="bg-brand-purple p-8">
            <i class="text-7xl block fa-solid fa-seedling text-brand-blue-dark" />
            <h2 class="heading-1 !text-4xl text-brand-blue-dark">Core SEO</h2>
            <p class="text-xl text-brand-blue-dark">Ideal for small businesses looking to optimise their search presence</p>
          </div>
          <div class="bg-white p-8 flex flex-col gap-8 justify-between flex-1">
            <div class="prose max-w-none prose-bubblegum dark:prose">
              <p>
                Perfect for small businesses to be set up for search engine success.
                With a blend of technical SEO and keyword recommendations, your website
                and its content with be set in the right direction to start ranking well.
              </p>
              <p class="font-semibold">Core includes:</p>
              <ul>
                <li>Technical SEO audit of up to 100 web pages</li>
                <li>Competitor analysis (3 competitors)</li>
                <li>Keyword research & optimisation (25 keywords)</li>
                <li>Mobile optimisation review</li>
                <li>Page speed analysis</li>
                <li>Core on-page SEO recommendations</li>
                <li>30-day action programme</li>
                <li>One-to-one consultation</li>
                <li>Accessibility audit</li>
                <li>Personlised UX and conversion optimisation video review</li>
              </ul>
            </div>
            <div>
              <h3 class="heading-2 text-4xl text-center dark:text-black">
                 &pound;599 <small class="text-sm">(+VAT)</small>
              </h3>
              <p class="text-center mt-10">
                <Button
                  href="https://pay.gocardless.com/BRT0003K0PYWQY6"
                  text="Book Core package"
                  variant="primary"
                />
              </p>
            </div>
          </div>
        </div>
  
        <div class="border-2 border-gray-600 rounded-b-sm shadow-md col-span-2 flex flex-col justify-between relative lg:col-span-1">
          <div class="absolute top-1 right-1 bg-primary-blue dark:bg-primary-green text-brand-blue-dark py-1 px-4 rounded-sm">
            Most popular
          </div>
          <div class="bg-brand-purple p-8">
            <i class="text-7xl block fa-solid fa-tree text-brand-blue-dark" />
            <h2 class="heading-1 !text-4xl text-brand-blue-dark">Professional growth</h2>
            <p class="text-xl text-brand-blue-dark">Comprehensive analysis for growing organisations</p>
          </div>
          <div class="bg-white p-8 flex flex-col gap-8 justify-between flex-1">
            <div class="prose max-w-none prose-bubblegum dark:prose">
              <p>
                For more established sites, you'll get everything in Core, boosted by 
                more depth and detailed breakdown of winning content. You'll also gain
                more eyes into competitors and the gaps you need to close to outrank them.
              </p>
              <p class="font-semibold">Professional includes:</p>
              <ul>
                <li>...Everything in Core, plus:</li>
                <li>250 web pages</li>
                <li>5 competitors</li>
                <li>50 keywords</li>
                <li>Content gap analysis</li>
                <li>Backlink portfolio analysis</li>
                <li>Mobile & Core Web Vitals optimisation</li>
                <li>Bespoke content strategy</li>
                <li>90-day action programme</li>
                <li>2 consultation sessions</li>
                <li>Priority email enquiry support</li>
              </ul>
            </div>
            <div>
              <h3 class="heading-2 text-4xl text-center dark:text-black">
                 &pound;999 <small class="text-sm">(+VAT)</small>
              </h3>
              <p class="text-center mt-10">
                <Button
                  href="https://pay.gocardless.com/BRT0003K0Q71BZV"
                  text="Book Pro package"
                  variant="primary"
                />
              </p>
            </div>
          </div>
        </div>

        <div class="border-2 border-gray-600 rounded-b-sm shadow-md col-span-2 flex flex-col justify-between">
          <div class="bg-brand-purple p-8">
            <div class="flex flex-row gap-0">
              <i class="text-7xl block fa-solid fa-tree text-brand-blue-dark opacity-75" />
              <i class="text-7xl block fa-solid fa-tree text-brand-blue-dark -ml-8" />
            </div>
            <h2 class="heading-1 !text-4xl text-brand-blue-dark">Enterprise excellence</h2>
            <p class="text-xl text-brand-blue-dark">Advanced strategies for large-scale websites</p>
          </div>
          <div class="bg-white p-8 flex flex-col gap-8 justify-between flex-1">
            <div class="prose max-w-none prose-bubblegum dark:prose">
              <p>
                For large businesses and e-commerce platforms looking for the full search monthy 
                this option gets you a comprehensive SEO strategy covering on page technical 
                details and off page aspects. 
                Plus you'll be armed with a step by step guide for the next 180 days; everything you need 
                to grow your search presence. 
              </p>
              <p class="font-semibold">Enterprise includes:</p>
              <ul class="lg:columns-2">
                <li>...Everything in Professional, plus:</li>
                <li>up to 1,000 web pages</li>
                <li>8 competitors</li>
                <li>100+ keywords</li>
                <li>International SEO assessment</li>
                <li>E-commerce optimisation</li>
                <li>Advanced schema markup strategy</li>
                <li>Content hierarchy planning</li>
                <li>Link building programme</li>
                <li>180-day step by step action plan</li>
                <li>4 consultation sessions</li>
                <li>24/7 priority support</li>
                <li>Monthly progress reporting</li>
              </ul>
            </div>
            <div>
              <h3 class="heading-2 text-4xl text-center dark:text-black">
                 &pound;1999 <small class="text-sm">(+VAT)</small>
              </h3>
              <p class="text-center mt-10">
                <Button
                  href="https://pay.gocardless.com/BRT0003K0QFMKMG"
                  text="Book Enterprise package"
                  variant="primary"
                />
              </p>
            </div>
          </div>
        </div>

        <div class="border-2 border-gray-600 rounded-b-sm shadow-md col-span-2 flex flex-col justify-between">
          <div class="bg-brand-blue/50 p-8 dark:bg-brand-blue">
            <i class="text-7xl block fa-solid fa-key text-brand-blue-dark" />
            <h2 class="heading-1 !text-4xl text-brand-blue-dark">Starter essentials</h2>
            <p class="text-xl text-brand-blue-dark">Entry level assessment to understand the playing field</p>
          </div>
          <div class="bg-white p-8 flex flex-col gap-8 justify-between flex-1">
            <div class="prose max-w-none prose-bubblegum dark:prose">
              <p>
                For those just starting out and wanting to set off in the right direction, 
                the Starter package includes an essential overview of your website
                including a video review of its general user experience and opportunities
                to improve conversions so you can generate more leads.
              </p>
              <p class="font-semibold">Starter includes:</p>
              <ul class="lg:columns-2">
                <li>General technical SEO review of website and main landing pages</li>
                <li>Mobile optimisation review</li>
                <li>Page speed analysis and site performance report</li>
                <li>Immediate improvement areas highlighted in plain English</li>
                <li>Accessibility audit with key points to improve</li>
                <li>Personlised user experience and conversion rate optimisation video review</li>
                <li>Actionable takeaways to make immediate improvements</li>
              </ul>
            </div>
            <div>
              <h3 class="heading-2 text-4xl text-center dark:text-black">
                 &pound;299 <small class="text-sm">(+VAT)</small>
              </h3>
              <p class="text-center mt-10">
                <Button
                  href="https://pay.gocardless.com/BRT0003K0QH1BBH"
                  text="Book Starter package"
                  variant="primary"
                />
              </p>
            </div>
          </div>
        </div>
      </div>

       <p class="text-center mt-16">
        Not quite ready to commit to a package just yet? <br><a href="/contact">Send me a message</a> or 
        <a href="https://clients.robkendal.co.uk/p/scheduler/QcSfofSjLfDsCCQxn" target="_blank">book an
        intro meeting</a> and let's discuss your options.
      </p>
    </section>
  </Fragment>

  <Fragment slot="cta">
    <CallToAction
      type="global"
      title="Want more website visitors that convert?"
      buttons={[
        {
          href: "/contact",
          text: "Boost your rankings",
        },
      ]}
    >
      If you're in need of a freelance search engine optimisation specialist
      to help your business get found by more people on Google, and convert 
      more visitors into leads, then let's have a chat.
    </CallToAction>
  </Fragment>
</LandingPageLayout>
