---
import LandingPageLayout from 'src/layouts/LandingPageLayout.astro';
import BenefitsList from 'src/components/BenefitsList.astro';
import CallToAction from 'src/components/CallToAction.astro';
import Button from 'src/components/Button.astro';

const benefits = [
  'You want to launch a new website for your business and need planning and development advice to get started.',
  "You're current website is not generating leads or performing as well as could be.",
  'You want to take your sales online with a conversion-focussed ecommerce website.',
  "You want to skyrocket your site's performance by developing a headless CMS solution that powers a static site generator such as Gatsby, Next.js, or Astro.",
  'You want simple, straightforward SEO advice to improve your search rankings.',
];
const services = [
  {
    icon: 'far fa-hand-pointer',
    title: 'Bespoke websites',
    blurb:
      'A well-planned and well-designed custom website will work best for you business to generate more leads and delight customers.',
  },
  {
    icon: 'fas fa-suitcase-rolling',
    title: 'Migrations & moves',
    blurb:
      "Don't be stuck with a sub-par website provider. Let me tackle the hard work and migrate you to a better hosting environment.",
  },
  {
    icon: 'fas fa-cash-register',
    title: 'Ecommerce sites',
    blurb:
      "If you want to sell online, you need an ecommerce website that's designed to convert customers and drive sales.",
  },
  {
    icon: 'fas fa-rocket',
    title: 'SEO & marketing',
    blurb:
      "Whether it's strategy, planning, or optimising an existing presence, my straightforward advice will help you climb those rankings.",
  },
  {
    icon: 'fas fa-users',
    title: 'UX/UI consultancy',
    blurb:
      'Simple advice on how to convert more leads from your website and how to improve your website for better customers experiences.',
  },
  {
    icon: 'fas fa-clipboard-check',
    title: 'Website audits',
    blurb:
      'If you want to know where you stand before you start, a thorough audit of your existing website helps power more informed decisions.',
  },
];
const callouts = [
  'Straightforward knowledge and advice from a professional freelance developer more than 20 years in the business.',
  'Honest, reliable suggestions that always keep your business and its goals in mind.',
  'An approach that is built upon marketing-led websites and driving leads for your business.',
  'First-class support from day 1: from planning, development, delivery and beyond!',
  'Simple marketing and Search Engine Optimisation (SEO) services set for growth.',
  'Expert website design services and modern website development practices including, Next.js, GraphQL and the Jamstack for superb customer experiences.',
  'Help and support launching super fast, accessible, static websites that rank well on search engines.',
];
---

<LandingPageLayout
  title="A freelance web developer for small business websites"
  metaTitle="Freelance web designer | Freelance web developer Wakefield | Rob Kendal, small business websites | Jamstack developer | Rob Kendal"
  description="As a freelance web designer based in Pontefract, West Yorkshire, I build marketing websites for small businesses that generate leads"
  benefits={{
    title: 'My small business web design services help in lots of ways:',
    list: benefits,
  }}
  services={{
    title: 'How I can help with your business website',
    intro:
      'As an experienced freelance web designer, I have the expertise to assist with a range of small business website projects.',
    list: services,
  }}
  brands={{
    title: 'Brands of all sizes',
    intro:
      "As a freelance web developer, I've loved working with some superb brands, nationally and local to York, Leeds and West Yorkshire.",
  }}
  testimonials={{
    title: 'What my clients say',
    intro:
      "From small business web design services to digital marketing and support, here's what some of my clients have to say.",
  }}
>
  <Fragment slot="intro">
    If you've been searching for a <strong>freelance web developer</strong>
    based in Wakefield, Leeds, that builds small business websites to generate
    more leads for your business, then hello 👋🏻, I'm Rob.
  </Fragment>

  <Fragment slot="callout">
    <div class="flex flex-col xl:flex-row gap-10 relative z-10 items-center">
      <figure class="flex items-center flex-col md:w-3/4 xl:w-1/3 2xl:w-1/2">
        <img
          src="/img/example-shopify.png"
          alt="Example small business website displayed on a laptop"
          class=""
        />
        <img
          src="/img/react-logo-white.png"
          alt="React JS logo"
          class="hidden xl:block"
        />
      </figure>
      <div class="xl:w-2/3 2xl:w-1/2">
        <h2 class="heading-2">Website development services</h2>
        <p class="mb-6">
          With me, as well as a reliable freelance web developer, you'll always
          get:
        </p>
        <BenefitsList list={callouts} />
        <p class="mb-6">
          Let's talk about your small business website project and how we can
          hit your goals.
        </p>
        <Button
          href="/contact"
          text="discuss your project"
          variant="primary"
          classes={['block w-full text-center md:w-auto md:text-left']}
        />
      </div>
    </div>
  </Fragment>

  <Fragment slot="cta">
    <CallToAction
      type="global"
      title="How can I help your business?"
      buttons={[
        {
          href: '/contact',
          text: 'discuss your project',
        },
      ]}
    >
      If you're in need of a freelance web developer, looking for advice on your
      existing website or in need of a complete custom website build for your
      business, it costs nothing to start a conversation.
    </CallToAction>
  </Fragment>
</LandingPageLayout>
