---
import LandingPageLayout from "src/layouts/LandingPageLayout.astro";
import BenefitsList from "src/components/BenefitsList.astro";
import CallToAction from "src/components/CallToAction.astro";
import Button from "src/components/Button.astro";

const benefits = [ 
  "You're looking to build a new WordPress project and need planning and development advice to get started.",
  "You have an existing WordPress website but it's not performing as well as it could.",
  "You want to use WordPress as a core part of your marketing strategy and need support to develop a solution.",
  "You want to migrate your WordPress website to another host or you're looking for WordPress hosting services.",
  "You have a number of third-party platforms, such as HubSpot, and want to integrate them with WordPress",
  "You want the performance benefits of using WordPress as a headless CMS to power a static site generator such as Gatsby or Next.js.",
  "You want to improve your search engine rankings and need a Search engine optimisation (SEO) audit and regular WordPress SEO support.",
  "You're looking for regular technical and support services from a reliable WordPress expert",
];
const services = [
  {  
  "icon": "far fa-hand-pointer",
  "title": "WordPress website",
  "blurb": "WordPress is a great choice for a new business website. From simple websites to complex enterprise solutions, you're in good hands from start to finish.",
  },
  {
  "icon": "fas fa-suitcase-rolling",
  "title": "Migrations & moves",
  "blurb": "Moving websites can be daunting. Let me take the stress out of this process and migrate your website between hosts or to WordPress from another supplier.",
},
  {
  "icon": "fas fa-cash-register",
  "title": "WordPress ecommerce",
  "blurb": "Take your sales online via WordPress + Woocommerce. Whether you want to sell £100's or £100,000's let's launch your ecommerce website together.",
},
  {
  "icon": "fas fa-rocket",
  "title": "Optimisation & SEO",
  "blurb": "Current site running a bit slow? A speedy, well-optimised WordPress site is better for users and helps you climb those search engine rankings.",
},
  {
  "icon": "fas fa-server",
  "title": "WordPress hosting",
  "blurb": "I offer reliable, fast web hosting for WordPress websites including site optimisation, caching, security controls, 99% uptime and free SSL certificates.",
},
  {
  "icon": "fab fa-wordpress",
  "title": "Theme development",
  "blurb": "Whether it's custom WordPress theme development, additions to existing themes or advice on your current WordPress site setup and theme.",
   },          
];
const callouts = [
  "A professional fullstack developer with over 15 years experience.",
  "A reliable point of contact who believes in straightforward, honest advice.",
  "A marketing-led and business-focussed approach to help maxmise your return on investment",
  "First class support from strategy and planning, through to development, project launch and beyond!",
  "Award-winning marketing and Search Engine Optimisation (SEO) services",
  "Expert WordPress services and modern development approaches including Gatsby, Next.js, the WordPress REST API, GraphQL and the Jamstack.",
  "Enterprise-level HubSpot capaign management and WordPress integrations",
  "Help and support launching super fast, accessible, static websites that rank well on search engines",
];
---

<LandingPageLayout
  title="A freelance WordPress consultant who puts you first"
  metaTitle='Freelance WordPress developer | WordPress consultancy | Rob Kendal, freelance WordPress developer'
  description='As a freelance WordPress consultant I work with local and national brands to develop their WordPress marketing websites. Talk to me about your website development project today.'
  benefits={{
    title: "My WordPress consultancy services can help you in many situations:",
    list: benefits
  }}
  services={{
    title: "How I can help with your WordPress project",
    intro: "I have a wealth of experience with a range of WordPress websites and can help your business with the following common project types.",
    list: services,
  }}  
  brands={{
    title: "I've worked with some great brands",
    intro: "As a freelance WordPress developer, I've worked with some amazing local and national brands, as well as a host of local Yorkshire businesses.",
  }}
  testimonials={{
    title: "Kind words from great clients",
    intro: "From WordPress website development services to code mentoring, here's what some of my clients have to say.",
  }}  
>
  <Fragment slot="intro">
    <p>
      Are you looking for help building your next WordPress website project? I'm a <strong>freelance WordPress developer</strong> with over 15 years experience in delivering enterprise websites for clients big and small.
    </p>
  </Fragment>

  <Fragment slot="intro-content">
    <div class="rounded-sm bg-blue-50 p-4 mt-10 mb-28">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3 text-sm text-blue-700">
          <p class="mb-3">
            <strong class="text-blue-700">I'm no longer taking on new WordPress projects</strong>. 
            Instead, I'm promoting more modern solutions for clients, such as headless content management 
            systems and static sites powered by frameworks such as Astro and Next.js.
          </p>
          <p class="mb-3">
            Please reach out about your WordPress project and we can discuss your options to move to a 
            more modern solution as well as the benefits this brings. Alternatively, feel free to check out 
            my alternative services below:
          </p>
          <ul>
            <li>
              <a href="/small-business-websites">Small business websites</a>
            </li>
            <li>
              <a href="/enterprise-software-development">Business web apps and software solutions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </Fragment>

  <Fragment slot="hireme">
    Let's get your WordPress project done properly; all it costs is a quick message to start!
  </Fragment>
  
  <Fragment slot="callout">
    <div class="flex gap-10 relative z-10">
      <figure class="flex items-center flex-col w-1/3">
        <img src="/img/example-shopify.png" alt="Example small business website displayed on a laptop" class="" />
        <img src="/img/wordpress-logo.png" alt="WordPress logo" class="" />
      </figure>
      <div>
        <h2 class="heading-2">WordPress development services</h2>
        <p class="mb-6">I specialise in delivering WordPress websites and WordPress consultancy services to a range of clients of all sizes.</p>
        <p class="mb-6">With me, as well as a reliable freelance WordPress consultant, you'll always get:</p>
        <BenefitsList list={callouts}/>
        <p class="mb-6">
          Tell me about your WordPress project and how I can help
        </p>
        <Button href="/contact" text="discuss your project" variant="primary" />
      </div>
    </div>
  </Fragment>
  
  <Fragment slot="cta">
    <CallToAction 
      type="global"
      title="How can I help?"
      buttons={[
        {
          href: '/contact',
          text: 'discuss your project',
        }
      ]}
      >
      If you need a freelance WordPress consultant, want to discuss WordPress website development or want to hear some straightforward advice on how to start your next WordPress website project, I'd love to have a quick chat!
    </CallToAction>
  </Fragment>
</LandingPageLayout>