---
---

<div
  class="flex flex-col sm:flex-row items-center gap-6 px-8 py3 border border-slate-300 shadow-md rounded-sm my-14"
>
  <figure class="mt-6 mb-0 w-1/2 mx-auto sm:mt-0 sm:w-36">
    <img
      src="/img/38687284.jpg"
      alt="Rob Kendal"
      class="rounded-full shadow-md border"
    />
  </figure>

  <div class="prose prose-bubblegum sm:w-3/4">
    <h3 class="heading-3 mb-1">About Rob Kendal</h3>
    <p class="mb-4">
      Rob Kendal is an award-winning freelance front-end developer and marketer
      who likes simple, organised thinking and making clever things. You can
      find him working on some things on{' '}
      <a
        href="https://github.com/bpk68"
        title="rob kendal's github profile"
        target="_blank"
      >
        GitHub
      </a>{' '}
      and recording podcasts, such as{' '}
      <a
        href="https://thefrontendpodcast.site"
        title="The Front End podcast website"
        target="_blank"
      >
        The Front End
      </a>. Say hi and{' '}
      <a href="https://indieweb.social/@kendalmintcode" target="_blank">
        follow me on Mastodon
      </a>
    </p>
  </div>
</div>
