---

---

<div class="rounded-sm bg-blue-50 p-4 my-10">
  <div class="flex">
    <div class="flex-shrink-0">
      <svg
        class="h-5 w-5 text-blue-400"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="ml-3 text-lg text-blue-700">
      <p class="mb-3">
        <strong class="text-blue-700"
          >I'm fully booked and no longer onboarding new freelance clients</strong
        >.
      </p>
      <p class="mb-3">
        I'm still accepting coding mentorship students and I'm happy to give out
        any advice I can in the software and e-commerce areas I support, so feel
        free to reach out.
      </p>
      <ul>
        <li>
          <a href="/mentorship">Check out my mentorship program</a>
        </li>
        <li>
          <a href="/blog">Read my latest tech articles</a>
        </li>
      </ul>
    </div>
  </div>
</div>
