---
interface Props {
  list: string[];
  unset?: boolean;
}

const { list, unset = false } = Astro.props;
---

<ul
  class={`
  unset   
  text-lg 
  mx-auto
  ${!unset ? 'max-w-2xl' : ''}   
  `}
>
  {
    list.map((item) => (
      <li class="flex items-baseline pb-3">
        <span class="fa-solid fa-thumbs-up pr-3 text-xl" />
        <span set:html={item} />
      </li>
    ))
  }
</ul>
