---
---

<section class='section is-md my-10'>
  <h2 class='heading-2 text-center mb-1'>Trusted by brands big and small</h2>
  <p class='text-center text-md max-w-lg mx-auto'>
    I've been honoured to work with local and national brands to build
    marketing websites powered by WordPress
  </p>
  <div class='columns-3 gap-3 mt-5'>
    <img src='/img/logos/nhs-logo.png' alt='NHS logo' class="w-full aspect-video" />
    <img src='/img/logos/hubspot-logo.png' alt='HubSpot logo' class="w-full aspect-video" />
    <img src='/img/logos/citizens-advice-logo.png' alt='Citizens Advice logo' class="w-full aspect-video" />
    <!-- <img src='/img/logos/enterprise-partnership.png' alt='Yorkshire Enterprise Partnership logo' class="w-full aspect-video" /> -->
    <img src='/img/logos/north-yorkshire-council.png' alt='North Yorkshire County Council logo' class="w-full aspect-video" />
    <img src='/img/logos/shepherd-purse-cheeses.png' alt='Shepherds Purse Cheeses logo' class="w-full aspect-video" />    
    <img src='/img/logos/rugby-world-cup.png' alt='Rugby World Cup 2023 logo' class="w-full aspect-video" />    
  </div>
</section>