---
import { Image } from "astro:assets";

import SocialLinks from "./SocialLinks.astro";

import logo from "../assets/k-tech-logo-white.png";
---

<footer class="md:text-sm leading-[1.75] mt-4 border-t-2 pt-8">
  <h4 class="is-sr-only">Site links</h4>
  <nav
    role="navigation"
    aria-label="Footer navigation"
    class="columns-2 footer-nav align-middle max-w-lg mx-auto"
  >
    <a href="/the-front-end-podcast" class="unset">podcast</a>
    <a href="/publications" class="unset">publications</a>
    <a href="/projects" class="unset">projects</a>
    <a href="/faq-for-recruiters" class="unset">recruitment FAQ</a>
    <a href="/mentorship" class="unset">mentorship</a>
    <a href="/about" class="unset">about me</a>
    <a href="https://shapo.io/wall-of-love/1734138339" class="unset" target="_blank">glowing reviews</a>
    <!-- <a href="/freelance-jamstack-developer" class="unset">
      freelance Jamstack developer</a
    > -->
    <a href="/freelance-shopify-developer" class="unset">
      freelance Shopify developer</a
    >
    <a href="/freelance-storyblok-developer" class="unset">
      freelance Storyblok developer</a
    >
    <a href="/enterprise-software-development" class="unset">
      enterprise software development
    </a>
  </nav>

  <div class="my-5 text-center">
    <h4 class="is-sr-only">Connect on social media</h4>
    <div class="prose prose-bubblegum max-w-none">
      <SocialLinks centralise />
    </div>
  </div>
  <div class="my-2 flex justify-center">
    <Image
      src={logo}
      alt="A colourful letter K representing the logo mark of Rob Kendal Ltd"
      width={50}
      height={50}
    />
  </div>
  <p class="mt-4 pb-8 text-xs text-center block leading-relaxed">
    Copyright &copy; {new Date().getFullYear()} Rob Kendal Ltd. Company number 16009577<br
    />
    View the <a href="/privacy">privacy policy</a> and
    <a href="/terms">terms</a>
  </p>
</footer>

<style>
  .footer-nav a {
    display: block;
    background-image: none;
    margin-bottom: 0.25rem;
  }
  .footer-nav a:hover {
    color: theme("colors.text.link");
  }
</style>
