---
---

<h1 class="font-bold text-text-heading text-4xl md:text-5xl pt-4 pb-2 overflow-hidden">
  <span
    class="
      bg-gradient-to-bl
      bg-no-repeat
      bg-bottom bg-[length:100%_40%]
      from-primary-blue
      to-primary-blue
      dark:from-primary-blue
      dark:to-primary-blue
    "
  >
    <slot />
  </span>
</h1>