---
import { Image } from 'astro:assets';

import cloudcannonlogo from '../assets/partnerships/cloudcannon-logo.svg';
import storybloklogo from '../assets/partnerships/sb-p-light.svg';
import shopifylogo from '../assets/partnerships/shopify-partner.png';
---

<div class="relative clear-both my-14">
  <h2 class="heading-2 text-center overflow-hidden mb-4 z-10 block relative">
    Expert level partner
  </h2>
  <p class="text-center text-md max-w-2xl mx-auto mb-10">
    I'm proud to have my skills recognised as an official partner with headless
    content management platforms <a
      href="https://www.storyblok.com"
      target="_blank">Storyblok</a
    > and <a href="https://cloudcannon.com" target="_blank">CloudCannon</a>, and
    ecommerce giant Shopify.
  </p>

  <div class="flex flex-col sm:flex-row gap-5 items-center justify-center">
    <Image
      src={storybloklogo}
      alt="Storyblok Partner logo with the Storyblok title and iconic letter 'B'"
      width={300}
      height={150}
      class=""
    />
    <Image
      src={cloudcannonlogo}
      alt="CloudCannon Partners logo with a blue cloud over the words CloudCannon"
      width={350}
      height={200}
      class=""
    />
    <div class="dark:bg-brand-cream py-5 px-3 rounded-md">
      <Image
        src={shopifylogo}
        alt="Shopify Partners logo the green Shopify title and the word partners and the iconic Shopify green shopping bag"
        width={300}
        height={150}
        class=""
      />
    </div>
  </div>
</div>
