---
import ArticleList from './ArticleList.astro';

interface Props {
  tags: string[];
  pathToSkip?: string;
}

const { tags, pathToSkip } = Astro.props;
---

<div class="mt-20">
  <ArticleList
    title="Read more"
    count={5}
    relatedPostTags={tags}
    pathToSkip={pathToSkip}
    showHeading
    showBlurb
  />
</div>
