---

interface Props {
	title: string;
	intro: string;
}

const { title, intro } = Astro.props;
---

<section class="section is-md my-14 lg:-mx-40">
  <h2 class="heading-2 text-center">{title}</h2>
  <p class="text-center text-md max-w-xl mx-auto mb-8">
    {intro} <br />
    <span class="text-sm">Psst! You can also see <a href="https://shapo.io/wall-of-love/1734138339" target="_blank">more glowing reviews</a> here.</span>
  </p>
  <div id="shapo-widget-8ff8443098dafe56e99a"></div>
  <script id="shapo-embed-js" type="text/javascript" src="https://cdn.shapo.io/js/embed.js" defer async></script>
</section>
