---
/* 
  This layout is used as a base for all pages.
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import GoogleFont from "./GoogleFont.astro";
import FontAwesome from "./FontAwesome.astro";
import ThemeScript from "./ThemeScript.astro";
import Sitemap from "./Sitemap.astro";
import WebMentions from "./WebMentions.astro";
import GlobalMeta from "./GlobalMeta.astro";
import Favicon from "./Favicon.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html class="theme-bubblegum" lang="en">
  <head>
    <GlobalMeta />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <ThemeScript />
    <FontAwesome />
    <Sitemap />
    <WebMentions />
    <script id="shapo-embed-js" type="text/javascript" src="https://cdn.shapo.io/js/embed.js" defer></script>
    <script type="application/ld+json" id="shapo-ratingschema-9318fa2f9e"></script>
    <script
      defer
      type="text/javascript"
      src="https://api.pirsch.io/pirsch.js"
      id="pirschjs"
      data-code="SBqaydY9SsOuAd1tF2eQNsH0RMWfrF7D"></script>
  </head>

  <body class="min-h-screen">
    <slot name="banner" />
    <div class="px-6 sm:px-8">
      <Header />
      <div class="max-w-3xl mx-auto">
        <main id="main" class="mb-16">
          <slot name="main" />
        </main>
        <slot name="additional-content" />
        <Footer />
      </div>
      <script
        async
        src="https://media.ethicalads.io/media/client/ethicalads.min.js"
      ></script>
    </div>
  </body>
</html>
