---
import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
---

<CaseStudyLayout
  title="A2Z Local"
  metaTitle="A2Z Local listings platform | Custom software developer, York, Leeds"
  description="Discover how I helped A2Z Local design and develop a completely bespoke business listings and marketing platform ."
  img="/img/case-studies/a2z-cs.png"
  imgAlt="A2Z Local bespoke listings platform home page"
>
  <Fragment slot="intro">
    <p class="mb-5 text-lg">
      A2Z Local is business with ambitious aims to revolutionise the way people
      search and advertise for local services over different mediums, such as
      app, web and physical platforms. They aim to help householders to find
      trusted, local services in specific postcode areas for any job they need
      help with.
    </p>
    <p class="mb-5">
      Check out the <a
        href="https://a2z-local.co.uk"
        target="_blank"
        rel="noopener noreferrer">A2Z Local business marketing platform</a
      > website.
    </p>
  </Fragment>

  <Fragment slot="challenge">
    <p class="mb-5">
      A2Z Local were a new business in need of the works: a logo and branding,
      brand guidelines, and a shiny new custom built marketing platform that
      empowers them to create business listings to advertise local businesses
      and their services.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">
      I worked closely with the A2Z Local team to establish a new brand for the
      business, including brand guidelines to help them apply the correct fonts,
      colour palette, and visual aspects to their other digital and physical
      media formats.
    </p>
    <p class="mb-5">
      Once we had established their new brand, I set about architecting a
      completely bespoke software platform that empowers the team to create and
      manage advertisers' business listings. It leverages the powerful Storyblok
      content management system to provide listings, and is powered by the Astro
      framework for the headless UI layer.
    </p>
    <p class="mb-5">
      Beyond the strong team of Storyblok and Astro, I integrated the platform
      with external services such as Firebase for metrics and ratings, Shapo for
      business reviews, and Algolia for a super fast search experience for
      website visitors.
    </p>
  </Fragment>

  <Fragment slot="additional-content">
    <img
      src="/img/case-studies/a2z-local-screenshot.png"
      alt="Screenshot of the A2Z Local website"
      class="shadow-md my-10 w-3/4 mx-auto"
    />
  </Fragment>

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class="flex items-baseline pb-3">
        <span class="fa fa-paint-brush pr-3 text-xl"></span>
        <span>
          Produced a logo and brand guidelines for the new business.
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-window-maximize pr-3 text-xl"></span>
        <span>
          Full design and development of a custom business listings marketing
          platform including site search, reviews, Storyblok content management
          integration and super fast deployment to the latest front-end cloud
          hosting.
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-cog pr-3 text-xl"></span>
        <span>
          Integrated with several external services, such as Algolia, Shapo, and
          Firebase.
        </span>
      </li>
    </ul>
  </Fragment>
</CaseStudyLayout>
