---
import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
---

<CaseStudyLayout
  title="Andrea Hall"
  metaTitle='Andrea Hall Shopify ecommerce website | Rob Kendal, freelance Shopify developer York'
  description='Discover how I the Shopify platform with custom Shopify theme development to build Yorkshire artist, Andrea Hall, a new website to replace her Etsy store'
  img="/img/case-studies/ah-cs.png"
  imgAlt="Screenshot of AndreaHall website and backend"
>
  <Fragment slot="intro">    
    <p class="mb-5 text-lg">
      Andrea Hall is a talented Yorkshire artist and active open water swimmer. She creates a range of art for the swimmer community such as greetings cards,
      prints, stationery and more.
    </p>
    <p class="mb-5">
      Check out <a href="https://www.andreahall.co.uk/" target="_blank" rel="noopener noreferrer">Andrea's website</a> here.
    </p>
  </Fragment>

  <Fragment slot="challenge">
    <p class="mb-5">    
      Andrea had a personal portfolio website and a separate Etsy store. Tired of the hassle of maintaining two separate sites and paying expensive sales percentages
      to Etsy, she wanted to combine her online presences into a single, unified experience for both her and the customer.
    </p>
    <p class="mb-5">
      The customer would get a single, streamlined ecommerce site to browse and make purchases, whilst Andrea would be able to manage all her content, products, after-sales care and admin in one place.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">    
      I started with Andrea's existing portfolio website which was powered by WordPress and developed a custom Shopify theme that focussed on her artwork products.
      We used the Shopify platform to manage content and product information whilst developing a great-looking, clean Shopify theme that focussed on the customer and their needs as they browsed the site.
    </p>
    <p class="mb-5">
      Andrea had quite a back catalogue of products on Etsy, so part of the challenge was to migrate these existing products into Shopify, where they could marry up with the newly designed and built custom Shopify theme.
    </p>
    <p class="mb-5">
      The last part of the puzzle was to integrate Andrea's current marketing workflows into her new Shopify store, including newsletter collection, MailChimp automation, and flesh out her customer reviews system.
    </p>  
  </Fragment>

  <Fragment slot="additional-content">
    <img
        src="/img/case-studies/andreahall-screenshot.png"
        alt="Screenshot of Andrea Hall's website"
        class="shadow-md my-10"
    />
  </Fragment>  

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-window-maximize pr-3 text-xl"/>
        <span>
          Developed a new Shopify ecommerce website that simplifies the customer journey to maximise conversions
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fab fa-shopify pr-3 text-xl"/>
        <span>
          Designed and built a custom Shopify theme to suit Andrea's business goals
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-tachometer-alt pr-3 text-xl"/>
        <span>
          Deployed optimised, SEO-friendly Shopify theme which ranks well on the Google Lighthouse site speed scale
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fab fa-mailchimp pr-3 text-xl"/>
        <span>
          Integrated ecommerce solution with MailChimp
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fab fa-etsy pr-3 text-xl"/>
        <span>
          Custom product migration from existing Etsy catalogue to new website
        </span>
      </li>      
      
    </ul>
  </Fragment>
</LandingPageLayout>

                 
