---
import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
---

<CaseStudyLayout
  title="Ashes With Art"
  metaTitle='Ashes With Art Shopify SEO | Freelance Shopify expert, Leeds'
  description='Discover how I helped jewellery artists Ashes with Art optimise their Shopify store for high search rankings through my Shopify SEO services. Read more in the case study.'  
  img="/img/case-studies/awa-cs.png"
  imgAlt="Ashes With Art Shopify landing page and product search page"
>
  <Fragment slot="intro">
    <p class="mb-5 text-lg">
      Ashes With Art are a unique business who fuse traditional craftsmanship with contemporary design to create stunning and unique pieces of memorial jewellery and cremation glass art.
    </p>
    <p class="mb-5">
      Check out the <a href="https://www.asheswithart.co.uk/" target="_blank">Ashes With Art</a> Shopify website.  
    </p>    
  </Fragment>

  <Fragment slot="challenge">
    <p class="mb-5">
      Ashes With Art hand-craft made-to-order jewellery pieces that incorporate the ashes of loved ones to make truly memorable gifts. We supported their SEO consultancy work to improve the speed of their Shopify store across mobile devices, and developed custom landing pages to maximise conversions.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">
      I worked closely with the Ashes With Art team in collaboration with an SEO consultancy to make several site-wide changes and optimisations to their custom-built Shopify store. This helped to improve their website speed, especially on mobile devices, which ultimately helped to increase their search result rankings.
    </p>
    <p class="mb-5">
      Along with several tweaks and changes across the site, we also developed several custom landing pages in keeping with their current theme design, to further maximise Ashes With Art’s conversions from visitors to their collection pages.
    </p>
    <p class="mb-5">
      Finally, we helped to upgrade their current theme to take advantage of the latest Shopify features, and successfully launched their shiny new and improved Shopify store    
    </p>
  </Fragment>


  <Fragment slot="additional-content">
    <img
        src="/img/case-studies/ashes-with-art-screenshot.jpg"
        alt="Screenshot of the Ashes With Art website"
        class="shadow-md my-10 w-3/4 mx-auto"
    />
  </Fragment>  

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-window-maximize pr-3 text-xl"/>
        <span>
          Developed custom collection-based landing pages complete with editable Shopify meta fields.
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-cog pr-3 text-xl"/>
        <span>
          Offered SEO consultancy to implement technical SEO improvements across the Shopify store.
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-paint-brush pr-3 text-xl"/>
        <span>
          Upgraded current bespoke theme to support Shopify theme v2.0 features, including improved filtering and search
        </span>
      </li>      
    </ul>
  </Fragment>
</LandingPageLayout>