---
import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
---

<CaseStudyLayout
  title="Core Groundworks York"
  metaTitle="Core Groundworks York business website | Small business website developer, York, Leeds"
  description="I helped local Yorkshire business Core Groundworks migrate from an poor Wix website to a custom website design helping them to improve search rankings."
  img="/img/case-studies/cg-cs.png"
  imgAlt="Core Groundworks bespoke website design home page"
>
  <Fragment slot="intro">
    <p class="mb-5 text-lg">
      Core Groundworks York Ltd are a well established groundworks company based
      in and around the heart of Yorkshire, offering a wide range of
      customisable earthworks, drainage and groundworks services to residential
      and commercial customer alike.
    </p>
    <p class="mb-5">
      Check out the <a
        href="https://www.coregroundworksyorkltd.com/"
        target="_blank"
        rel="noopener noreferrer">Core Groundworks York</a
      > website.
    </p>
  </Fragment>

  <Fragment slot="challenge">
    <p class="mb-5">
      Core Groundworks had quickly built a Wix website using their own in-house
      team. However, in order to raise their online presence and project a more
      professional image, I helped them by designing and developing a completely
      bespoke, tailored website that met their company's aspirational needs.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">
      Together with the Core Groundworks team, I took their industry knowledge
      and expertise and designed them a website that would help raise their
      online profile.
    </p>
    <p class="mb-5">
      The new design helps to project a more professional image and support
      their bids for larger commercial projects. Not only this, but because the
      new website is built using the latest Jamstack technology, it is lightning
      fast, performs superbly on Google and other search engines, and it's
      accessible to differently abled visitors.
    </p>
    <p class="mb-5">
      Finally, to help the Core Groundworks team to make changes themselves when
      they need to, I introduced a simple CMS system so they can edit blog
      articles and make key page changes whenever and wherever they like.
    </p>
  </Fragment>

  <Fragment slot="additional-content">
    <img
      src="/img/case-studies/core-groundworks-screenshot.png"
      alt="Screenshot of the Core Groundworks website"
      class="shadow-md my-10 w-3/4 mx-auto"
    />
  </Fragment>

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class="flex items-baseline pb-3">
        <span class="fa fa-window-maximize pr-3 text-xl"></span>
        <span>
          Designed and developed a full end-to-end bespoke website to help them
          raise their online image and improve search rankings against
          competitors.
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-cog pr-3 text-xl"></span>
        <span>
          Built-in a new CMS system to help the team to make key content changes
          without the need for external involvement or additional developer
          time.
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-paint-brush pr-3 text-xl"></span>
        <span>
          Produced a new logo for the team inline with their existing branding.
        </span>
      </li>
    </ul>
  </Fragment>
</CaseStudyLayout>
