---
import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
---

<CaseStudyLayout
  title="CreateTVT"
  metaTitle='CreateTVT WordPress multisite development | Rob Kendal, freelance WordPress developer York'
  description='Find out more about how I helped CreateTVT in Selby to build a WordPress multisite presence for their news outlet websites that handle high-traffic volumes'
  img="/img/case-studies/ctvt-cs.png"
  imgAlt="Screenshot of CreateTVT website and backend"
>
  <Fragment slot="intro">
    <p class="mb-5 text-lg">
    </p>   
    <p class="mb-5 text-lg">
      CreateTVT are a family-run business specialising in community based publications as well as competitive design, printing and distribution services for businesses.
      The company has grown steadily over the years and now produces six advertising publications which are all local to the Yorkshire area and focus on advertising
      and community news.
    </p>
    <p class="mb-5">
      You can find out more about <a href="https://www.createtvt.co.uk/" target="__blank" rel="noopener noreferrer">CreateTVT from their website</a> or some of their publication
      websites including  <a href="https://www.ourgoole.co.uk/" target="__blank" rel="noopener noreferrer">Our Goole</a> or&nbsp;
      <a href="https://www.tadcasterecho.co.uk/" target="__blank" rel="noopener noreferrer">Tadcaster Echo</a>.
    </p> 
  </Fragment>

  <Fragment slot="challenge">    
    <p class="mb-5">
      CreateTVT needed several website designs creating, including one for their own main website, and a white-labelled solution for each of their six sister publication sites.
    </p>
    <p class="mb-5">
      The difficulty was finding a web design and development partner to produce a platform that could handle high-traffic volumes, multiple theme variations for several
      publications and some sort of management platform to handle them all, plus multiple, daily content updates.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">      
      The development started by mapping out all the sites that needed to be created over a rolling release schedule. Once the first design and content were produced,
      the build began with a hosted multisite WordPress instance.
    </p>
    <p class="mb-5">
      Over a period of 2-3 months I worked with CreateTVT to gather content for each new site, supplying a newly designed child theme variation with some unique features to
      each site, such as advertising search, or publication map.
    </p>
    <p class="mb-5">
      Each site was built as part of an over-arching WordPress multi-site instance to allow for ease of regular, frequent content updates, site management and security.
    </p>    
  </Fragment>

  <Fragment slot="additional-content">
    <img
        src="/img/case-studies/createtvt-screenshot.png"
        alt="Screenshot of the CreateTVT website"
        class="shadow-md my-10"
    />
  </Fragment>  

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class='flex items-baseline pb-3'>
        <span class="fab fa-wordpress-simple pr-3 text-xl"/>
        <span>
          WordPress multi-site development
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-tachometer-alt pr-3 text-xl"/>
        <span>
          High-traffic website hosting
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-paint-roller pr-3 text-xl"/>
        <span>
          Bespoke child theme design and development for multiple sites
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-calendar-alt pr-3 text-xl"/>
        <span>
          Long-term engagement with multi-phase delivery points
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-cubes pr-3 text-xl"/>
        <span>
          Custom child site feature development
        </span>
      </li>
    </ul>
  </Fragment>
</LandingPageLayout>


               