---
import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
---

<CaseStudyLayout
  title="Geek"
  metaTitle="Geek estate agency website | Custom business development, York, Leeds"
  description="."
  img="/img/case-studies/gk-cs.png"
  imgAlt="Geek estate agency website development"
>
  <Fragment slot="intro">
    <p class="mb-5 text-lg">
      Geek are a fresh, modern twist on the outdated, corporate estate agency image. 
      As a brand new estate agency business in Kent, they we're looking for support to 
      design and build a marketing website to help them reach new customers.
    </p>
    <p class="mb-5">
      Visit the finished <a
        href="https://getgeek.co.uk/"
        target="_blank"
        rel="noopener noreferrer">Geek Estate Agency</a
      > website.
    </p>
  </Fragment>

  <Fragment slot="challenge">
    <p class="mb-5">
      Geek did some of the heavy lifting with their brand work, establishing a unique
      twist on the standard corporate estate agents' image, centered around AI-driven 
      visuals. However, their expertise sat firmly in the property sales industry and they
      needed a specialist digital marketing partner to design and deliver a 
      winning website that ranks well and shouts about their customers' properties.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">
      Taking inspiration from Geek's funky fresh branding and slick modern websites
      such as Apple, I designed a modern website built with all the bells and whistles
      you'd expect for a high-end estate agency. 
    </p>
    <p class="mb-5">
      The new site includes large, modern imagery, a Spotify music player, sliding content
      rails, and plenty of calls to action with an attention towards optimising conversion 
      rates for new leads -- house sellers and buyers alike!
    </p>
    <p class="mb-5">
      To help Geek to manage their own growing list of articles and properties for sale
      I integrated a lightweight CMS into their website so they can add new properties, 
      articles, team members, and more.
    </p>
  </Fragment>

  <Fragment slot="additional-content">
    <img
      src="/img/case-studies/geek-screenshot.png"
      alt="Screenshot of the Geek estate agents website"
      class="shadow-md my-10 w-3/4 mx-auto"
    />
  </Fragment>

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class="flex items-baseline pb-3">
        <span class="fa fa-window-maximize pr-3 text-xl"></span>
        <span>
          Delivered a brand new, modern website, built with Svelte, that aligns
          with their funky branding and AI-driven visuals. It ranks well, offers
          great performance across mobile and desktop devices alike, and helps
          Geek's customers to engage with the business.
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-cog pr-3 text-xl"></span>
        <span>
          Built-in a CMS system to help the team to make key content changes
          quickly and easily, all without additional developer time.
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-cog pr-3 text-xl"></span>
        <span>
          Integrated the site with Geek's third-party property listing platform, 
          Street, to pull in up to date property stock and keep all their systems 
          in-sync.
        </span>
      </li>
    </ul>
  </Fragment>
</CaseStudyLayout>
