---
import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
---

<CaseStudyLayout
  title="Gemho Renewables"
  metaTitle="Gemho renewable marketing website | Small business website developer, York, Leeds"
  description="I helped renewables business Gemho to design and build a conversion-optimised landing page to help them launch their business."
  img="/img/case-studies/gm-cs.png"
  imgAlt="Gemho Renewables bespoke website design home page"
>
  <Fragment slot="intro">
    <p class="mb-5 text-lg">
      Gemho are specialist providers of high-quality complete solar panel systems and 
      EV charging solutions, supplied with a focus on sustainability, efficiency, and
      long-term savings.
    </p>
    <p class="mb-5">
      Visit the <a
        href="https://gemho.co.uk/"
        target="_blank"
        rel="noopener noreferrer">Gemho Renewables</a
      > website.
    </p>
  </Fragment>

  <Fragment slot="challenge">
    <p class="mb-5">
      Gemho came to me as a new business started by founders with extensive industry
      experience. Whilst they had the beginnings of a visual identity, they needed
      help to design and develop a range of stationery for the business for traditional
      marketing purposes, as well as an online landing page to help them with their digital 
      marketing efforts.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">
      Gemho wanted a striking digital presence that bucks the trend of more corporate sites
      competing in their industry. We designed and delivered a simple, clean, yet modern 
      one-page site to attract new leads and form a marketing cornerstone for their new
      business.
    </p>
    <p class="mb-5">
      Whilst a single page in the beginning, the website is built on reliable foundations
      which are flexible enough to grow with the business. New pages and sections can be added 
      easily as needed. The website is built to best industry standards including accessibility
      and technical SEO needs to help give it the best possible start across search engines.
    </p>
  </Fragment>

  <Fragment slot="additional-content">
    <img
      src="/img/case-studies/gemho-screenshot.png"
      alt="Screenshot of the Gemho Renewables website"
      class="shadow-md my-10 w-3/4 mx-auto"
    />
  </Fragment>

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class="flex items-baseline pb-3">
        <span class="fa fa-window-maximize pr-3 text-xl"></span>
        <span>
          Designed a range of business stationery including letterheads and business cards
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-cog pr-3 text-xl"></span>
        <span>
          Developed an flexible, expandable, modern website built on SvelteKit and deployed on 
          Netlify. It's fast, accessible, and offers bags of room to grow with the business.
        </span>
      </li>
    </ul>
  </Fragment>
</CaseStudyLayout>
