---
import PageLayout from "../../layouts/PageLayout.astro";
import PageMeta from "../../components/PageMeta.astro";
import PageHeader from "../../components/PageHeader.astro";
import ContactForm from "../../components/ContactForm.astro";
import CaseStudyListItem from "src/components/CaseStudyListItem.astro";
import IntroductionForm from "src/components/IntroductionForm.astro";

const caseStudies = [
	{
		id: 1,
		title: "Stones 4 Homes",
		subTitle: "E-commerce WordPress build",
		img: "stones4homes-screenshot.png",
		blurb:
			"I helped deliver a brand new website design for this Yorkshire aggregate powerhouse. The new site lifted transaction rates by 100% and conversions by 200%",
		link: "stones4homes",
	},
	{
		id: 2,
		title: "Print Plus Direct",
		subTitle: "E-commerce WordPress build",
		img: "printplusdirect-screenshot.png",
		blurb:
			"Supplying NCR forms and stationery to businesses nationwide, I worked with Print Plus Direct on an e-commerce site that simplifies their complex product options and drives new leads to their business",
		link: "printplusdirect",
	},
	{
		id: 3,
		title: "CreateTVT",
		subTitle: "Multisite theming",
		img: "createtvt-screenshot.png",
		blurb:
			"CreateTVT needed a multi-site solution that combined a reusable branding theme with powerful hosting to support their multiple high-trafficked websites",
		link: "createtvt",
	},
	{
		id: 4,
		title: "Sneyds Wonderdog",
		subTitle: "E-commerce WordPress build",
		img: "sneyds-screenshot.png",
		blurb:
			"Sneyds supply premium dog and animal feeds. I helped them build a new e-commerce website that attracted 65% more traffic, growing monthly sales by 17%",
		link: "wonderdog",
	},
	{
		id: 5,
		title: "Andrea Hall",
		subTitle: "Custom Shopify theme development",
		img: "andreahall-screenshot.png",
		blurb:
			"Andrea is an incredible local Yorkshire artist who creates art for open water swimmers. I built her a super speedy Shopify e-commerce website with custom Shopify theme development",
		link: "andrea-hall",
	},
	{
		id: 6,
		title: "Shepherds Purse",
		subTitle: "Shopify theme development and support",
		img: "shepherds-purse-screenshot.png",
		blurb:
			"Shepherds Purse are an award-winning cheese maker here in Yorkshire. They needed UX consultancy and support on their Shopify store including improving their user journey and highlighting their awards",
		link: "shepherds-purse-cheeses",
	},
	{
		id: 7,
		title: "Ashes With Art",
		subTitle: "Shopify SEO consultancy",
		img: "ashes-with-art-screenshot.jpg",
		blurb:
			"Ashes With Art are an artisan jewellery crafter, making truly memorable gifts. I their SEO consultancy work, improving the speed of their Shopify store across mobile devices, and lifting their search engine positions.",
		link: "ashes-with-art",
	},
	{
		id: 10,
		title: "Geek",
		subTitle: "Slick business web design",
		img: "geek-screenshot.png",
		blurb:
			"Geek are a modern twist on the estate agency model in Kent. They searched for a reliable development partner to design and build their new estate agency website to form the cornerstone of their new business development.",
		link: "geek",
	},
	{
		id: 9,
		title: "Core Groundworks York",
		subTitle: "Bespoke web design",
		img: "core-groundworks-screenshot.png",
		blurb:
			"Core Groundworks York is a local Yorkshire earth and groundworks firm who needed to migrate their Wix website to a professional, bespoke website. I designed and developed a branded website to help them raise their online image.",
		link: "core-groundworks",
	},
	{
		id: 10,
		title: "A2Z Local",
		subTitle: "Custom business software",
		img: "a2z-local-screenshot.png",
		blurb:
			"A2Z local exists to revolutionise the way people search and advertise for local services. I designed and delivered a custom software content platform using Astro and Storyblok to help reach local businesses and their customers.",
		link: "a2z-local",
	},
	{
		id: 11,
		title: "Gemho Renewables",
		subTitle: "Bespoke design, marketing website, business stationery",
		img: "gemho-screenshot.png",
		blurb:
			"Gemho deliver high-quality solar panel and EV charging solutions with a focus on sustainability. I designed them a range of business stationery and built a marketing website to help them start their business lead generation.",
		link: "gemho",
	},
];
---

<PageLayout>
  <PageMeta
    title="WordPress and Shopify website case studies | Rob Kendal, freelance web developer York"
    description="Discover how I used WordPress and Shopify to help local businesses to increase conversions by 200% and boost sales and lead generation through their websites"
    slot="meta"
  />
  <section slot="main">
    <div class="prose max-w-none prose-bubblegum">
      <PageHeader>Case studies</PageHeader>
      <p>
        I've worked with some great clients over the years on a diverse range of

        <a href="/freelance-shopify-developer">Shopify</a> projects, both ecommerce
        and non-ecommerce business websites.
      </p>
      <p>
        You can explore a few of the more recent and challenging ones here.
        Investigate, view the sites, ask me any questions, and please get in
        touch if you'd like to know how I can achieve the same results for you
        and your business, including website consultation, strategy, custom
        Shopify development and more.
      </p>
    </div>
    <div class="my-10 grid lg:grid-cols-2 gap-10 xl:-mx-40 2xl:-mx-52">
      {
        caseStudies.reverse().slice(0,4).map((item) => <CaseStudyListItem {item} />)
      }
    </div>
    <div class="my-10 grid md:grid-cols-2 xl:grid-cols-3 gap-10 xl:-mx-40 2xl:-mx-52">
      {
        caseStudies.slice(4).map((item) => <CaseStudyListItem {item} isShortened />)
      }
    </div>
    <h2 class="heading-2">Tell me how I can help</h2>
     <p>
        Got lots of ideas busting at the seams? Want to get it all off your chest?
         Tell me all about your next business website, Shopify store, or Storyblok development 
         needs and let's make it happen.
      </p>
    <IntroductionForm />
    <div class="prose max-w-none prose-bubblegum">
      <h3 class="heading-3 mb-4">Send me a message directly</h3>
      <p>
        If you're ready to dive right in then you <a
          href="https://cal.com/robkendal"
          target="_blank">book an intro chat with me</a
        >, or send me a message below and <strong
          >I'll get back to you within 24 hours</strong
        >
      </p>
    </div>
    <ContactForm action="/contact/thanks" pageLocation="case studies list" />
  </section>
</PageLayout>
