---
import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
---

<CaseStudyLayout
  title="Print Plus Direct"
  metaTitle='Print Plus Direct Woocommerce WordPress ecommerce website | Rob Kendal, freelance WordPress developer York'
  description='I helped Print Plus Direct to build an ecommerce website that serves businesses '
  img="/img/case-studies/ppd-cs.png"
  imgAlt="Screenshot of PrintPlusDirect website and backend"
>
  <Fragment slot="intro">
    <p class="mb-5 text-lg">
      Print Plus Direct is an online provider of NCR printing solutions and customised stationery for businesses.
      Their simple online order process allows customers to follow 4 simple steps to order bespoke forms and documents for their company.
    </p>
    <p class="mb-5">
      You can visit the <a href="http://www.printplusdirect.co.uk/" target="__blank" rel="noopener noreferrer">Print Plus Direct website</a> here.
    </p>
  </Fragment>

  <Fragment slot="challenge">
    <p class="mb-5">
      Print Plus Direct have been supplying businesses throughout Yorkshire for decades, but wanted to take their products and services online, direct to
      their customers, wherever they are across the UK.
    </p>
    <p class="mb-5">
      They needed a performant, responsive website that could handle complex customer requirements and product additions, as well as providing a robust admin system
      for product and content management.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">
      The best solution for Print Plus Direct was a custom WordPress build using Woocommerce to power their online shop.
    </p>
    <p class="mb-5">
      I helped them to design and build a robust, secure ecommerce site that features customisable product options for greater choice for their customers,
      a free artwork template section, blog, full SEO treatment for high rankings, all built upon a proven and robust ecommerce solution.
    </p>
    <p class="mb-5">
      What's more, all customer payments are safe and secure via integrations with PayPal and SagePay.
    </p>
  </Fragment>

  <Fragment slot="additional-content">
    <img
        src="/img/case-studies/printplusdirect-screenshot.png"
        alt="Screenshot of the Print Plus Direct website"
        class="shadow-md my-10"
    />
  </Fragment>   

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-paint-roller pr-3 text-xl"/>
        <span>
          Custom designed and built responsive ecommerce site
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fab fa-wordpress pr-3 text-xl"/>
        <span>
          WordPress and Woocommerce development
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-pound-sign pr-3 text-xl"/>
        <span>
          SagePay payments integration
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-filter pr-3 text-xl"/>
        <span>
          Complex product customisation options
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-brush pr-3 text-xl"/>
        <span>
          Free artwork templates section
        </span>
      </li>
      <li class='flex items-baseline pb-3'>
        <span class="fa fa-server pr-3 text-xl"/>
        <span>
          High-powered hosting for secure, responsive customer experiences
        </span>
      </li>
      
    </ul>
  </Fragment>
</LandingPageLayout>