---
import CaseStudyLayout from '../../layouts/CaseStudyLayout.astro';
---

<CaseStudyLayout
  title="Shepherds Purse Cheeses"
  metaTitle="Shepherds Purse Shopify support | Freelance Shopify expert, York"
  description="I helped award-winning artisan cheese makers, Shepherds Purse improve their Shopify stores UX and customer journey. Discover the details of my tailored Shopify support services in the case study."
  img="/img/case-studies/sp-cs.png"
  imgAlt="Screenshot of the Shepherds Purse Shopify store and it's admin panel"
>
  <Fragment slot="intro">
    <p class="mb-5 text-lg">
      The Shepherds Purse are a Yorkshire-based artisan cheese maker, supplying
      their award-winning cheeses nationally. They needed help to improve their
      Shopify store and maximise their customer conversion rates.
    </p>
    <p class="mb-5">
      Learn more about <a
        href="https://www.shepherdspurse.co.uk/"
        target="_blank"
        rel="noopener noreferrer">Shepherds Purse</a
      > on their Shopify store.
    </p>
  </Fragment>

  <Fragment slot="challenge">
    <p class="mb-5">
      Shepherds Purse had a great Shopify store, but felt they weren't
      capitalising on their shopper journey and wanted to improve upsells,
      cross-sells and highlighting of their awards. They also wanted to unify
      their branding across different areas of the site.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">
      I worked with the Shepherds Purse team to identify several areas for
      improvement in their UX and UI across their Shopify store, mostly centred
      around their product pages. I worked on their bespoke Shopify theme to
      make changes that highlighted their cheeses' awards, made better use of
      their page space, and helped promote more of their pairing products for
      better upsells.
    </p>
    <p class="mb-5">
      We also made improvements to messaging and information highlighting around
      their basket and checkout areas. Finally, we added an improved order
      datepicker and introduced a multi-address shipping process.
    </p>
  </Fragment>

  <Fragment slot="additional-content">
    <img
      src="/img/case-studies/shepherds-purse-screenshot.png"
      alt="Screenshot of the Shepherd's Purse website"
      class="shadow-md my-10"
    />
  </Fragment>

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class="flex items-baseline pb-3">
        <span class="fa fa-window-maximize pr-3 text-xl"></span>
        <span>
          Improved the customer journey and UX on their Shopify product pages
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fab fa-shopify pr-3 text-xl"></span>
        <span> Custom Shopify theme work across their website</span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fas fa-truck pr-3 text-xl"></span>
        <span>
          Implemented multi-address shipping process in their checkout system
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fas fa-life-ring pr-3 text-xl"></span>
        <span>
          Ongoing dedicated Shopify consultancy to support their store now and
          in the future
        </span>
      </li>
    </ul>
  </Fragment>
</CaseStudyLayout>
