---
import CaseStudyLayout from '../../layouts/CaseStudyLayout.astro';
---

<CaseStudyLayout
  title="Stones4Homes"
  metaTitle="Stones4Homes WordPress ecommerce website | Rob Kendal, freelance WordPress developer York"
  description="Discover how I used WordPress and Woocommerce to help a local aggregate supplier, Stones4Homes, boost sales and increase conversions"
  img="/img/case-studies/s4h-cs.png"
  imgAlt="Screenshot of Stones4Homes website and backend"
>
  <Fragment slot="intro">
    <p class="mb-5 text-lg">
      Stones4Homes is the online shop for all your decorative aggregates, bark
      products and rock salt requirements. They've been supplying aggregates to
      professional landscapers, contractors and homeowners for over 10 years and
      have over 25 years experience of working in the sector.
    </p>
    <p class="mb-5">
      They supply to countless local Yorkshire residential and commercial
      customers, as well providing delivery nationwide.
    </p>
    <p class="mb-5">
      You can visit the <a
        href="https://www.stones4homes.co.uk/"
        target="__blank"
        rel="noopener noreferrer">Stones4Homes website</a
      > here.
    </p>
  </Fragment>

  <Fragment slot="challenge">
    <p class="mb-5">
      Stones4Homes came to me with a outdated site that wasn't performing for
      them. With declining sales and an unresponsive website that wasn't working
      well for their customers, they needed a breath of fresh air to
      reinvigorate their online shop and improve sales.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">
      As well as creating a clean, responsive design powered by a WordPress
      ecommerce solution, I worked closely with Stones4Homes to migrate a wealth
      of content from their existing web presence, preserving SEO value and
      search rankings for their landing pages and well-ranked products.
    </p>
    <p class="mb-5">
      I added a raft of features for their admin team too, such as a 'buy as a
      customer', custom product shipping label generator, and order date picker.
    </p>
    <p class="mb-5">
      Finally, the real challenge (and fun part of the project) was developing a
      highly-customised product pricing model that factored in customers'
      postcodes and delivery. The whole solution is a well-crafted website
      that's designed to make it easy for their visitors to find what they need
      and make a purchase.
    </p>
  </Fragment>

  <Fragment slot="additional-content">
    <img
      src="/img/case-studies/stones4homes-screenshot.png"
      alt="Screenshot of the Stones4Homes website"
      class="shadow-md my-10"
    />
  </Fragment>

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class="flex items-baseline pb-3">
        <span class="fab fa-wordpress pr-3 text-xl"></span>
        <span>
          Brand new, bespoke, mobile-friendly design focussing on strong calls
          to action and user journeys
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fab fa-safari pr-3 text-xl"></span>
        <span> Fully hosted, WordPress-powered ecommerce website</span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-chart-line pr-3 text-xl"></span>
        <span> SEO work to help retain existing ranking</span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-suitcase-rolling pr-3 text-xl"></span>
        <span>
          Large-scale content and product migration from previous website CMS
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-pound-sign pr-3 text-xl"></span>
        <span>
          Improved transaction rates by 100% and conversion rates by 200%
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-cart-plus pr-3 text-xl"></span>
        <span>
          Post-launch sales figures through the website increased revenue by
          270%
        </span>
      </li>
    </ul>
  </Fragment>
</CaseStudyLayout>
