---
import CaseStudyLayout from '../../layouts/CaseStudyLayout.astro';
---

<CaseStudyLayout
  title="Sneyd's Wonderdog"
  metaTitle="Sneyds Wonderdog WordPress ecommerce website | Rob Kendal, freelance WordPress developer York"
  description="Discover how I used WordPress and Woocommerce to help Sneyds Wonderdog to boost website traffic by 65% and monthly sales by 17% through sales-driven website development"
  img="/img/case-studies/wd-cs.png"
  imgAlt="Screenshot of Sneyds Wonderdog website and backend"
>
  <Fragment slot="intro">
    <p class="mb-5 text-lg">
      Sneyd’s is a family owned and operated company incorporating three
      generations of the same family and over 40 years experience in producing
      pet food products. They produce high quality pet food products priced well
      under the national average for equivalent feeds.
    </p>
    <p class="mb-5">
      Learn more about <a
        href="https://wonderdog.co.uk/"
        target="_blank"
        rel="noopener noreferrer">Sneyd's Wonderdoge</a
      > on their Shopify store.
    </p>
  </Fragment>

  <Fragment slot="challenge">
    <p class="mb-5">
      Sneyd's previous website had served them well, but they were struggling to
      gain ground against competitors across search rankings and were looking
      for a way to boost website sales.
    </p>
  </Fragment>

  <Fragment slot="help-content">
    <p class="mb-5">
      I worked with Sneyd's to produce a brand new ecommerce website designed
      and built from the ground up on the robust combination of WordPress and
      Woocommerce.
    </p>
    <p class="mb-5">
      To address Sneyd's desire to rank higher across search engines, I helped
      with a range of SEO services, such as copy and content optimisation,
      landing pages, and SEO best-practices. This work delivered a <strong
        >65% boost in organic traffic</strong
      >, which helped power further sales.
    </p>
    <p class="mb-5">
      The website is very customer-centric, making it easy for visitors to find
      exactly what they're looking for via clear signalling, strong calls to
      action, and defined purchase pathways.
    </p>
  </Fragment>

  <Fragment slot="additional-content">
    <img
      src="/img/case-studies/sneyds-screenshot.png"
      alt="Screenshot of the Sneyd's Wonderfeeds website"
      class="shadow-md my-10"
    />
  </Fragment>

  <Fragment slot="highlights">
    <ul class="unset max-w-2xl text-lg mx-auto">
      <li class="flex items-baseline pb-3">
        <span class="fa fa-paint-brush pr-3 text-xl"></span>
        <span>
          Ground up redesign of website with conversions and search performance
          in mind
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fab fa-wordpress pr-3 text-xl"></span>
        <span>
          Sales and conversion focussed website built on WordPress and
          Woocommerce
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-map-marker pr-3 text-xl"></span>
        <span>
          Developed custom Google Maps integration powering a local stockists
          finder
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-pound-sign pr-3 text-xl"></span>
        <span>
          Conversion Rate Optimisation work boosted monthly website sales by 17%
        </span>
      </li>
      <li class="flex items-baseline pb-3">
        <span class="fa fa-chart-line pr-3 text-xl"></span>
        <span>
          SEO and site optimisation work boosted organic website traffic 65%
        </span>
      </li>
    </ul>
  </Fragment>
</CaseStudyLayout>

